<h3> posts-new.handlebars</h3>

<div class = "col-md-8">
    <form>
          <textarea name="comment" rows="12" cols="35">Add your post here!</textarea><br>
          <input type="submit" name="submitInfo" value="Submit">
    </form>
</div>
